doctype html

html
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
  head
    title Hector - Wilfred James Godfrey
    link(rel="stylesheet" type="text/css" href="./css/index.css")
    link(rel="stylesheet" type="text/css" href="./css/bootstrap.css")
  body

    #overlay

    script(src='./js/analytics.js')
    script(src='./js/canvasquery.js')
    script(src='./js/canvasquery.framework.js')
    script(src='./js/index.js')
